astroid
atomicwrites
attrs
certifi
charset-normalizer
click
colorama
coverage
docopt
enum34
execnet
idna
iniconfig
isort
lazy-object-proxy
lxml
mccabe
namedlist
numpy
packaging
pipreqs
platformdirs
pluggy
py
pylint
pyparsing
PyQt5
pyqt5-plugins
PyQt5-Qt5
PyQt5-sip
pyqt5-tools
python-dateutil
python-dotenv
qt5-applications
qt5-tools
requests
selenium
six
toml
u-msgpack-python
urllib3
wrapt
yarg
